Package: com.sxuiii.oldpackage
Name: Old Package
Architecture: all
Depends: firmware (<=7.0)
Description: This is a sample old package. Firmware should be lower than 7.0
Maintainer: sxuiii <sxuiii@outlook.com>
Author: sxuiii <sxuiii@Outlook.com>
Section: Tweaks
Depiction: https://sxuiii.github.io/depictions/?p=com.sxuiii.oldpackage
Version: 1.0.0-1
