Package: com.sxuiii.mlady
Name: M'Lady
Author: sxuiii
Version: 1.0
Architecture: iphoneos-arm
Description: NSFW Theme
Maintainer: sxuiii
Section: Themes
SileoDepiction: https://sxuiii.github.io/package/mlady/SileoDepiction.json
