Package: com.sxuiii.mlady
Name: M'Lady
Version: 1.0
Architecture: iphoneos-arm
Maintainer: sxuiii <sxuiii@outlook.com.com>
Author: sxuiii <sxuiii@outlook.com.com>
Description: NSFW Theme
Section: Themes
Description: http://sxuiii.github.io/description.html?id=com.sxuiii.mlady
