Package: mlady
Filename: ./package/mlady/mlady.deb
Name: M'Lady
Author: sxuiii
Version: 1.0
Architecture: iphoneos-arm
Description: NSFW Theme
Maintainer: sxuiii
Section: Themes
Depiction: https://sxuiii.github.io/package/mlady/SelioDepiction.json
